{% extends "base.html "%}
{% block content %}
<html>
  <body>
        
    </nav>
        <div class="container">
            <div class="row">
                <div class ="col-12"

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Seleccion de deporte</h4>
                        
                        <table class="table">
                            <thead>
                                <tr>
                                  <h1>EL DEPORTE SELECIONADO FUE:<b>{{ opciones_deporte }}</b></h1>
                                    </th>
                                    

                                </tr>
                            </thead>
                            <tbody>
                                <td>{{ c }}</td>
                                <a class="btn btn-primary btn-lg" href="/metas" role="button">Elegir meta</a>
                            </tbody>
                        </table>
                        
                    </div>
                    <div class="card-footer text-muted">
                    </div>
                </div>
            </div>
            </div>
        </div>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <script rel="stylesheet"  type="text/css">
        .customnavar{
            padding: 29px;
            margin: 10px;
        }
    </script>
  </body>
</html>
{% endblock %}