
{% extends "base.html "%}
{% block content %}

<html>
    <body>
        
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Número</th>
                <th scope="col">Dificultad</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Puntos</th>
                    
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Principiante</td>
                <td></td>
                <td>5</td>
                <td><button type="submit" class="btn btn-success btn-block text-white"> Seleccionar</button></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Principiante</td>
                <td></td>
                <td>10</td>
                <td><button type="submit" class="btn btn-success btn-block text-white"> Seleccionar</button></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Intermedio</td>
                <td></td>
                <td>15</td>
                <td><button type="submit" class="btn btn-success btn-block text-white"> Seleccionar</button></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Intermedio</td>
                <td></td>
                <td>20</td>
                <td><button type="submit" class="btn btn-success btn-block text-white"> Seleccionar</button></td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Avanzado</td>
                <td></td>
                <td>25</td>
                <td><button type="submit" class="btn btn-success btn-block text-white"> Seleccionar</button></td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Avanzado</td>
                <td></td>
                <td>30</td>
                
                <td><button type="submit" name="meta_seleccionada"  class="btn btn-success btn-block text-white"> Seleccionar</button></td>
              </tr>
              
            </tbody>
          </table>

    </body>
</html>
{% endblock %}cd