{% load static %}
<html>

<head>
    <!doctype html>
    <html lang="en">
      <head>
        <title>FitLife</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS v5.2.0-beta1 -->
        <link rel="stylesheet" href="{% static 'custom.css' %}">
      </head>
      <body>

</head>
<body>

    {% block content %}
    <html>
  <body>
    </nav>
        <div class="container">
            <div class="row">
                <div class ="col-12">
                  <br>
                    <form enctype ="multipart/form-data" method="post">
                        {% csrf_token %}
                        <h1 figure class="text-center text-dark bg-primary">RECETAS</td></h1>
                        <br>
                        <h3>Ingrese una fecha para recomendarle una receta y el objetivo que desea
                        </h3>
                          <br>
                        <div class="container">
                          <div class="row justify-content-center">
                              <div class ="col-10">
                          <select class="form-select" name="objetivo" aria-label="Default select example">
                            <option selected>Seleccione un objetivo</option>
                            <option value="menos calorias">Bajar de peso</option>
                            <option value="igual calorias">Mantener el peso</option>
                            <option value="mas calorias">Aumentar peso</option>
                          </select>
                          <br>
                          <br>
                        
                          <input class="form-control"  type="date" name="Fecha" aria-describedby="Default select example"
                            value="2022-06-01"
                            min="2022-06-01" max="2023-05-31"> 
                          </div> 

                          <br> 
                          <div class="d-grid gap-2 col-4 mx-auto">    
                            <br>                                                                                     
                       <input class="btn btn-secondary btn-lg" type="submit" value="Buscar" >
                      
                       <a class="btn btn-secondary btn-lg" href="/alimentacion " role="button">Volver</a>
                    </form>   
                    </div>
                       {% if messages %}
                       {%for result in messages%}
                       
                       <h2>Su promedio de calorias consumidas el dia fue: {{ consumidas }} </h2> 
                      <br>
                      <br>
                      <h2>Su promedio de calorias gastadas el dia fue {{ gastadas }} </h2>   
                      <br>
                      <h2> {{ objetivo }} </h2>   
                        
                       {%endfor%}
                       <br>
                       <br>
                       <div class="card-body">
                        <br>
                        
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class ="col-10">
                                    <h2>Seleccione la receta que desea agregar al calendario</h2> 
                            <select class="form-select" id="inputGroupSelect01" name="recetas">
                              <option selected>selecciona</option>
                              <option value="1">Huevos rancheros con pico de gallo</option>
                              <option value="2">Ensalada de Pollo</option>
                              <option value="3">Pancakes de banano</option>
                              <option value="4">Tostada</option>
                              <option value="5">Pasta Alfredo</option>
                              <option value="6">Papas al Horno</option>
                              <option value="7">Moothie de banano</option>
                              <option value="8">Carne y brocoli</option>
                            </select>

                            <input class="btn btn-secondary btn-lg" type="submit" value="Agregar" >
                          </div>
                          <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        {% for recetas in recetas %}
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class ="col-10">
                        <table class="table table-primary table-bordered bordered-primary table-lg" >
                            <thead class="table-dark ">
                            </thead>
                            <tbody>
                                
                                <tr>
                                    <th scope="row">Nombre</th>
                                    <td>{{ recetas.Nombre }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Tiempo</th>
                                    <td>{{ recetas.Tiempo }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Ingredientes</th>
                                    <td>{{ recetas.Ingredientes }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Preparacion</th>
                                    <td>{{ recetas.Preparacion }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Calorias</th>
                                    <td>{{ recetas.Calorias }}</td>
                                </tr>
                               
                                <tr>
                                </tr>
                               
                                </tr>
                                
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    </div>
                    <div class="card-footer text-muted">
                    </div>
                </div>
            {% endif %}               
                           
            
            </div>
        </div>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
  </body>
</html>   
{% endblock %}

</body>
</html>
