{% extends "base.html "%}
{% block content %}


<html>

<body>
    
<p>Debes escoger un deporte principal a practicar</p>

{%if registros %}

    <p>Usuario encontrado:</p>
    
    <ul>
        {%for registro in registro%}
            <li>
                {{registro.nombre}}


            </li>

        {% endfor %}   
    </ul>
{% else %}


{% endif %}

<form action="{% url 'deporte_seleccionado'%}">
  <select name="opciones_deporte">
      <option disable="true" selected>--seleccione deporte--</option>
      <option>Ciclismo</option>
      <option>Natacion</option>
      <option>Correr</option>
      <option>Gimnasio</option>
      <option>Crossfit</option>
    </select>
    <input type="submit" value="Seleccionar">
  </form>
  
  </html>
  {% endblock %}
