{% extends "base.html "%}
{% block content %}
<html>
  <body>
        <div class="container">
            <div class="row">
                <div class ="col-12"

                <div class="card">
                    <div class="card-header">
                    
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Usuarios</h4>
                        
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Genero</th>
                                    <th>Edad</th>
                                    <th>Email</th>
                                    <th>Peso(Kg)</th>
                                    <th>Calorias en reposo</th>

                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for registros in registros %}
                                <tr>
                                    <td>{{ registros.id }}</td>
                                    <td>{{ registros.Nombre }}</td>
                                    <td>{{ registros.Apellido }}</td>
                                    <td>{{ registros.Genero }}</td>
                                    <td>{{ registros.Edad }}</td>
                                    <td>{{ registros.Email }}</td>
                                    <td>{{ registros.Peso }}</td>
                                    <td>{{ registros.calorias }}</td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                        <a class="btn btn-primary btn-lg" href="/metas" role="button">Elegir meta</a>
                    </div>
                    <div class="card-footer text-muted">
                    </div>
                </div>
            </div>
            </div>
        </div>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
  </body>
</html>

{% endblock %}